body{
    background-color: rgb(205, 240, 240);
}
#head{
    /* border: 5px solid black; */
    margin-left:400px ;
    font-family:cursive;
}

#main{
    margin-top: 70px;
    margin-left: 412px;
}

#search{
    border-radius: 10px;
}

#submit{
    border: 2px solid white;
    border-radius: 50px;
    background-color: rgb(200, 186, 186);
    color: rgb(0, 0, 0);
}

#temp1,#humidity1,#wind{
    margin-left: 37px;
    margin-right: 5px;
    margin-top: 30px;
    border:1px solid black;
    width: 200px;
    font-size: 12px;
    padding-left: 45px;
    border-radius: 15px;
}

#imglogo,#windlogo,#humiditylogo{
    width: 100px;
    height: 100px;
    padding-left: 25px;
    padding-top: 5px;

}

#all{
    display: flex;
    align-items: center;
    justify-content: center;
}